.sneakers {
   position: relative;
   display: flex;
   align-items: center;
   
   flex-direction: column;
   border: 1px solid #a8f9f9;
   padding: 10px 10px;
   width: 220px;
   //box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.04);
   border-radius: 40px;
   transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;


   &:hover {
      box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.07);
      transform: translateY(-7px);
   }

   .sneakers__title {
      display: flex;
      align-items: center;
      justify-content: center;
   }

   span {
      font-size: 13px;
      opacity: 0.5;
      text-transform: uppercase;
   }

   b {
      font-size: 13px;
   }

   h5 {
      font-weight: 400;
      font-size: 14px;
      text-align: center;
   }

   .favorite {
      position: absolute;
      cursor: pointer;
      
   }

   .sneakers__bottom {
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      align-items: center;

      bottom__title {
         display: flex;
         justify-content: center;
      }
   }
}
.button_choice{
   cursor: pointer;
   position: absolute;
   right: 20px;
   bottom: 5px;
   background-color: #FFFFFF;
   border: none;
   box-sizing: border-box;
   border-radius: 8px;
}

.button_like{
   cursor: pointer;
   position: absolute;
   right: 20px;
   top: 5px;
   background-color: #FFFFFF;
   border: none;
   box-sizing: border-box;
   border-radius: 8px;
}